

.paper-header-products {
   margin-top: -25vw;
   z-index: 556;
   position: relative;
   @media (max-width: 1380px) {
      margin-top: -8vw;
   }
}
.strawberry-img {
   position: absolute;
   top: 20%;
   left: -3%;
   @media (max-width: 1500px) {
         display: none;
      }
}
.leaf-img {
   position: absolute;
   top: 22%;
   left: 75%;
   @media (max-width: 1500px) {
         display: none;
      }

}
.leaf1-img {
   position: absolute;
   top: 68%;
   left: 70%;
   z-index: 777;
   @media (max-width: 1500px) {
         display: none;
      }
}
.leaf2-img {
   position: absolute;
   top: 65%;
   left: 42%;
   @media (max-width: 1500px) {
         display: none;
      }
}
.container-wide-header {
   background-color: transparent;
   max-width: 1920px;
   margin: auto;
}