.gradient {
   display: inline-block;
   position: relative;
}

.gradient:after {
   content: "";
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: transparent;
   background-image: linear-gradient(360deg, #010101 0%, rgba(0, 0, 0, 0) 55.19%);
   opacity: 0.8;
   border-radius: 20px;
}
