@import "nullstyle";
@import "fonts"; //!to add new font, please delete current file fonts.scss. New file will be generated!
@import "variables";
@import "header/header-nav.scss";
@import "header/header-block.scss";
@import "swiper-bundle";
@import "nav-pills";
@import "product-card";

.products {
    padding: 60px 0px 60px 0px;
}
.section-title {
    font-family: 'Appetite';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: $text-color__black;
}
.section-subtitle {
    color: $text-color__grey;
}
.products__subtitle {
    margin-top: 10px;
    margin-bottom: 60px;
}





